@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .firstlevel-menu {
    @apply absolute left-0 top-14 h-screen w-full border-t-2 border-t-fernaoGreen bg-fernaoBGWhite px-9 pt-8;
  }

  .secondlevel-menu,
  .thirdlevel-menu,
  .fourthlevel-menu {
    @apply absolute left-0 top-0 h-screen w-full bg-fernaoBGWhite px-9 pt-8;
  }
  .thirdlevel-menu,
  .fourthlevel-menu {
    @apply pt-2;
  }

  /* Text Underline styles */
  .text-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
  }

  .text-underline-colored {
    @apply bg-textUnderline;
  }

  .text-underline:hover,
  .text-underline:focus-visible,
  .text-underline:active {
    background-size: 100% 1px;
    background-position: 0 100%;
  }

  .menu-icon:hover > g > path,
  .menu-icon:focus-visible > g > path {
    @apply fill-fernaoGreen;
  }

  .menu-icon:active > g > path {
    @apply fill-fernaoDarkGreen;
  }

  .activeFirstLevelBtn > span {
    @apply border-b-[1px] border-b-fernaoGreen;
  }

  .activeFirstLevelBtn + ul[id^='secondlevel-'],
  .activeFirstLevelBtn + ul[id^='secondlevel-'] > * ul[id^='thirdlevel-'],
  .activeFirstLevelBtn + ul[id^='secondlevel-'] > * div[id^='-menufooter-'] {
    @apply block;
  }

  .activeFirstLevelBtn
    + ul[id^='secondlevel-']
    > li:nth-child(1)
    > *
    button#secondlevel-button
    > span {
    @apply border-b-[1px] border-b-fernaoGreen;
  }

  .activeFirstLevelBtn:hover > span,
  .activeSecondLevelBtn:hover > span {
    background-size: 0;
  }

  .activeFirstLevelBtn svg {
    @apply rotate-90;
  }

  .activeSecondLevelBtn {
    @apply border-b-[1px] border-b-fernaoGreen;
  }
}
