@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  @font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Regular.ttf') format('trueType');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Bold.ttf') format('trueType');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4,
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply max-w-5xl;
  }

  p {
    @apply max-w-6xl text-base;
  }

  a {
    @apply border-b-[1px] border-b-fernaoBlack;
  }

  /* input validation */
  input:not(:focus):not(:placeholder-shown):invalid,
  input:not(:focus):not(:placeholder-shown):invalid:required,
  select:not(:focus):not(:placeholder-shown):invalid:required {
    @apply border-inputInvalid text-inputInvalid;
  }

  select {
    @apply bg-fernaoBGWhite;
  }
}

@layer utilities {
  .content-padding {
    @apply px-8 1024:px-14 1440:px-[140px];
  }
  .content-margin-top {
    @apply mt-24;
  }
  /* Text Underline styles */
  .text-underline {
    border-bottom-width: 0;
    margin-bottom: 1px;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
  }

  .text-underline-colored {
    @apply bg-textUnderline;
  }

  .text-underline:hover,
  .text-underline:focus-visible,
  .text-underline:active {
    background-size: 100% 1px;
    background-position: 0 100%;
  }

  .menu-icon:hover > g > path,
  .menu-icon:focus-visible > g > path,
  .world-icon:hover > g > path,
  .world-icon:focus-visible > g > path {
    @apply fill-fernaoGreen;
  }

  .menu-icon:active > g > path {
    @apply fill-fernaoDarkGreen;
  }

  /* Desktop Menu active styles */
  .activeFirstLevelBtn > span {
    @apply border-b-[1px] border-b-fernaoDarkGreen;
  }

  .activeFirstLevelBtn + ul[id^='secondlevel-'],
  .activeFirstLevelBtn
    + ul[id^='secondlevel-']
    > *
    ul
    > li:first-child
    > ul[id^='thirdlevel-'],
  .activeFirstLevelBtn + ul[id^='secondlevel-'] > div[id$='-menufooter'] {
    @apply block;
  }

  .activeFirstLevelBtn:hover > span,
  .activeSecondLevelBtn:hover > span {
    background-size: 0;
  }

  .activeFirstLevelBtn svg {
    @apply rotate-90;
  }

  .activeSecondLevelBtn > span {
    @apply border-b-[1px] border-b-fernaoDarkGreen;
  }

  /* TOC active */
  .active-toc {
    @apply text-fernaoGreen;
  }
}
