---
import Layout from '../layouts/Layout.astro'
import Text from '../components/Text.astro'
import PageBreadcrumb from '../components/PageBreadcrumb.astro'
import Headline from '../components/Headline.astro'
import TextMedia from '../components/TextMedia.astro'
import FeatureList from '../components/FeatureList.astro'
import StepByStep from '../components/StepByStep.astro'
import Form from '../components/Form.astro'
import Banner from '../components/Banner.astro'
import TOC from '../components/TOC.astro'
import NewsTeaser from '../components/NewsTeaser.astro'
import TextTeaser from '../components/TextTeaser.astro'
import Media from '../components/Media.astro'
---

<Layout title='Ferno Standard Seite'>
  <Banner />
  <section class='1440:grid 1440:grid-cols-3'>
    <section class='1440:col-span-2'>
      <Headline
        id='headline-content-element'
        headlineVariant='h3'
        headlinecontent='Headline Content Element, mit einer Subheadline für weiteren Content in einem umfangreichen Textblock.'
        sublinecontent='Weit hinten, hinter den Wort-bergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.'
        sublineVariant='h4'
      />
      <Text
        headlineId='text-content-element-linksbündig'
        headlineContent='Text Content Element linksbündig Headline und Subheadline für weiteren Content in einem umfangreichen Textblock.'
      />
      <Text
        headlineId='text-content-element-zentriert'
        headlineContent='Text Content Element zentriert mit Headline und  Subheadline für weiteren Content in einem umfangreichen Textblock.'
        variant='centered'
      />
      <Text
        headlineId='text-content-element-zweispaltig'
        headlineContent='Text Content Element two-col mit Headline und  Subheadline für weiteren Content in einem umfangreichen Textblock.'
        variant='two-col'
      />
      <Text
        headlineId='text-content-element-background-gray'
        headlineContent='Text Content Element mit Hintergrund Grau Headline und Subheadline für weiteren Content in einem umfangreichen Textblock.'
        backgroundColor='gray'
      />
      <Text
        headlineId='text-content-element-background-green'
        headlineContent='Text Content Element mit Hintergrund Grün Headline und Subheadline für weiteren Content in einem umfangreichen Textblock.'
        backgroundColor='green'
      />
      <Text
        headlineId='text-content-element-background-black'
        headlineContent='Text Content Element mit Hintergrund Schwarz Headline und Subheadline für weiteren Content in einem umfangreichen Textblock.'
        backgroundColor='black'
      />
      <TextMedia
        headlineId='text-media-content-element-image-right'
        media={{
          src: 'https://source.unsplash.com/random/800x600',
          alt: 'Placeholder',
          type: 'image',
        }}
        mediaPosition='right'
      />
      <TextMedia
        headlineId='text-media-content-element-image-left'
        media={{
          src: 'https://source.unsplash.com/random/800x600',
          alt: 'Placeholder',
          type: 'image',
        }}
        mediaPosition='left'
        aspectRatio='1:1'
      />
      <TextMedia
        headlineId='text-media-content-element-image-left-green'
        media={{
          src: 'https://source.unsplash.com/random/800x600',
          alt: 'Placeholder',
          type: 'image',
        }}
        mediaPosition='left'
        aspectRatio='4:3'
        backgroundColor='green'
      />
      <TextMedia
        headlineId='text-media-content-element-image-right-gray'
        media={{
          src: 'https://source.unsplash.com/random/800x600',
          alt: 'Placeholder',
          type: 'image',
        }}
        mediaPosition='right'
        aspectRatio='4:3'
        backgroundColor='gray'
      />

      <TextMedia
        headlineId='text-media-content-element-image-left-black'
        media={{
          src: 'https://source.unsplash.com/random/800x600',
          alt: 'Placeholder',
          type: 'image',
        }}
        mediaPosition='left'
        backgroundColor='black'
      />

      <FeatureList items={8} />
      <StepByStep />
      <StepByStep variant='vertical' />
      <Form />
      <NewsTeaser />
      <TextTeaser columns='four' />
      <Media type='single' />
      <Media type='slider' />
      <Media type='slider-gallery' />
      <PageBreadcrumb />
    </section>
    <TOC />
  </section>
</Layout>
