---
import PrimaryButton from './PrimaryButton.astro'

const ELEMENT_STYLES =
  'absolute left-0 top-[115px] left-8 1024:left-14 1920:left-[140px]'

interface Props {
  variant?: 'high' | 'low'
}

const { variant = 'high' } = Astro.props
---

<section class='relative w-full'>
  <img
    src='https://source.unsplash.com/random/1920x1080'
    alt='banner img'
    class={`h-[286px] w-full object-cover 1024:h-[400px] ${
      variant === 'high' ? '1920:h-[686px]' : '1920:h-[570px]'
    }`}
  />

  <h3 class={ELEMENT_STYLES}>SAP Consulting</h3>
  <p class={`${ELEMENT_STYLES} mt-12`}>
    Geschäftsprozesse sichern mit Ihrem zuverlässigen SAP-Partner.
  </p>

  <PrimaryButton
    className='mx-auto mt-12 1024:absolute 1024:mt-56 1024:top-0 1024:left-14 1920:left-[140px]'
  >
    Jetzt beraten lassen
  </PrimaryButton>
</section>
