---
interface Props {
  items: 2 | 4 | 6 | 8
}

const { items = 4 } = Astro.props

const columnsClass = getColumClass()

function getColumClass() {
  switch (items) {
    case 2:
      return '1440:grid-cols-2'
    case 4:
      return '1440:grid-cols-4'
    case 6:
      return '1440:grid-cols-3'
    case 8:
      return '1440:grid-cols-4'
    default:
      return '1440:grid-cols-2'
  }
}
---

<section
  class=`hidden content-padding content-margin-top 1440:grid ${columnsClass} 1440:gap-10`
>
  <article class='flex flex-col items-center gap-6'>
    <img
      src='https://source.unsplash.com/random/600x800'
      alt='Feature #1'
      class='h-24 w-24 max-w-full rounded-full object-cover'
    />
    <h3>Feature #1</h3>
    <p>
      Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
      Konsonantien leben die Blindtexte.
    </p>
  </article>
  <article class='flex flex-col items-center gap-6'>
    <img
      src='https://source.unsplash.com/random/600x800'
      alt='Feature #2'
      class='h-24 w-24 max-w-full rounded-full object-cover'
    />
    <h3>Feature #2</h3>
    <p>
      Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
      Konsonantien leben die Blindtexte.
    </p>
  </article>
  <article class='flex flex-col items-center gap-6'>
    <img
      src='https://source.unsplash.com/random/600x800'
      alt='Feature #3'
      class='h-24 w-24 max-w-full rounded-full object-cover'
    />
    <h3>Feature #3</h3>
    <p>
      Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
      Konsonantien leben die Blindtexte.
    </p>
  </article>
  <article class='flex flex-col items-center gap-6'>
    <img
      src='https://source.unsplash.com/random/600x800'
      alt='Feature #4'
      class='h-24 w-24 max-w-full rounded-full object-cover'
    />
    <h3>Feature #4</h3>
    <p>
      Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
      Konsonantien leben die Blindtexte.
    </p>
  </article>
  <article class='flex flex-col items-center gap-6'>
    <img
      src='https://source.unsplash.com/random/600x800'
      alt='Feature #5'
      class='h-24 w-24 max-w-full rounded-full object-cover'
    />
    <h3>Feature #5</h3>
    <p>
      Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
      Konsonantien leben die Blindtexte.
    </p>
  </article>
  <article class='flex flex-col items-center gap-6'>
    <img
      src='https://source.unsplash.com/random/600x800'
      alt='Feature #6'
      class='h-24 w-24 max-w-full rounded-full object-cover'
    />
    <h3>Feature #6</h3>
    <p>
      Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
      Konsonantien leben die Blindtexte.
    </p>
  </article>
  <article class='flex flex-col items-center gap-6'>
    <img
      src='https://source.unsplash.com/random/600x800'
      alt='Feature #7'
      class='h-24 w-24 max-w-full rounded-full object-cover'
    />
    <h3>Feature #7</h3>
    <p>
      Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
      Konsonantien leben die Blindtexte.
    </p>
  </article>
  <article class='flex flex-col items-center gap-6'>
    <img
      src='https://source.unsplash.com/random/600x800'
      alt='Feature #8'
      class='h-24 w-24 max-w-full rounded-full object-cover'
    />
    <h3>Feature #8</h3>
    <p>
      Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
      Konsonantien leben die Blindtexte.
    </p>
  </article>
</section>
