---
import ArrowBottomIcon from './ArrowBottomIcon.astro'
import PrimaryButton from './PrimaryButton.astro'
---

<form
  class='content-padding content-margin-top flex w-full max-w-5xl flex-col self-start'
>
  <fieldset
    class='grid grid-cols-2 grid-rows-[auto_auto] justify-start gap-x-4 gap-y-12'
  >
    <label for='email' class='col-start-1 flex flex-col'>
      Email:
      <input
        type='email'
        id='email'
        name='email'
        required
        aria-required='true'
        class='border-[1px] border-fernaoBlack px-5 py-4'
        placeholder='Email'
      />
    </label>

    <label for='dropdown' class='relative col-start-2 flex flex-col'
      >Select an option:
      <select
        id='dropdown'
        name='dropdown'
        required
        aria-required='true'
        class='border-[1px] border-fernaoBlack px-5 py-4'
      >
        <option value=''>-- Please select --</option>
        <option value='option1' selected>Option 1</option>
        <option value='option2'>Option 2</option>
        <option value='option3'>Option 3</option>
      </select>
      <ArrowBottomIcon className='absolute right-4 top-10 h-6 w-6' />
    </label>

    <label for='message' class='col-span-2 row-start-2 flex flex-col'
      >Message:
      <textarea
        name='message'
        placeholder='Message'
        id='auto-expanding-textarea'
        class='border-[1px] border-fernaoBlack px-5 py-4'></textarea>
    </label>
  </fieldset>
  <PrimaryButton className='self-center mt-11'>
    Jetzt beraten lassen
  </PrimaryButton>
</form>

<script>
  const textarea = document.getElementById('auto-expanding-textarea')

  function adjustTextareaHeight() {
    textarea.style.height = 'auto' // Reset the height to allow it to adjust
    textarea.style.height = `${textarea.scrollHeight}px` // Set the new height based on the content
  }

  textarea.addEventListener('input', adjustTextareaHeight)

  adjustTextareaHeight()
</script>
