---
import LogoBase from './LogoBase.astro'
---

<header
  class='flex w-full max-w-[1920px] bg-fernaoBGWhite px-5 py-4 1440:px-16 1440:py-4'
  id='header'
>
  <a href='/'>
    <LogoBase />
  </a>
</header>
