---
import LogoBase from './LogoBase.astro'
import Navigation from './Navigation.astro'
import ClosedMenuIcon from './ClosedMenuIcon.html'
import OpenMenuIcon from './OpenMenuIcon.html'
---

<header
  class='z-10 flex w-full max-w-[1920px] flex-col bg-fernaoBGWhite 1440:flex-row 1440:items-center 1440:px-16 1440:py-4'
  id='header'
>
  <div class='flex justify-between px-5 py-4 1440:mr-9 1440:block 1440:p-0'>
    <a href='/'><LogoBase /></a>
    <button
      type='button'
      aria-expanded='true'
      aria-controls='firstlevel-menu'
      id='menu-button'
      class='1440:hidden'
    >
      <ClosedMenuIcon />
      <OpenMenuIcon />
    </button>
  </div>

  <Navigation />
</header>
