---
import CheckmarkIcon from './CheckmarkIcon.astro'
const { title, lightText = false } = Astro.props
---

<li
  class={`mb-4 px-4 py-2 font-normal ${
    lightText ? 'text-black50' : ''
  } 1440:mb-0`}
>
  <button class='flex gap-2'>
    <CheckmarkIcon />
    <p class='text-underline text-underline-colored'>{title}</p>
  </button>
</li>
