---
const { href, title, lightText = false, text } = Astro.props
---

<li
  class={`mb-4 px-4 py-2 font-normal ${
    lightText ? 'text-black50' : ''
  } 1440:hover:bg-fernaoGreenA20 1440:mb-0`}
>
  <a
    class='text-underline text-underline-colored flex w-full justify-between 1440:flex-col 1440:gap-2 1440:bg-none'
    href={href}
  >
    <p class='1440:font-bold'>{title}</p>
    <p class='hidden 1440:block'>
      {text}
    </p>
  </a>
</li>
