---
import ArrowRightIcon from './ArrowRightIcon.astro'

interface Props {
  ariaControls: string
  id: string
  title: string
  bold?: boolean
  className?: string
}
const { ariaControls, id, title, bold = true, className } = Astro.props
---

<li
  class={`mb-4 last:mb-0 px-4 py-2 ${
    bold ? 'font-bold' : 'font-normal'
  } ${className} 1440:py-0 1440:mb-0 1440:relative`}
>
  <button
    class='flex w-full justify-between gap-2'
    aria-controls={ariaControls}
    id={id}
  >
    <span class='text-underline text-underline-colored w-full text-start'>
      {title}
    </span>
    <ArrowRightIcon />
  </button>
  <slot />
</li>
