---
import PrimaryButtonIcon from './PrimaryButton.astro'
import ArrowRightIcon from './ArrowRightIcon.html'
import ArrowLeftIcon from './ArrowLeftIcon.html'
import ClosedMenuIcon from './ClosedMenuIcon.html'
import OpenMenuIcon from './OpenMenuIcon.html'
import NavItemMobile from './NavItemMobile.astro'
import NavItemBacklinkMobile from './NavItemBacklinkMobile.astro'
import NavItemLinkMobile from './NavItemLinkMobile.astro'
import BreadCrumbMobile from './BreadCrumbMobile.astro'
import SubmenuMobile from './SubmenuMobile.astro'
import SubmenuWrapperMobile from './SubmenuWrapperMobile.astro'
---

<nav>
  <button
    type='button'
    aria-expanded='true'
    aria-controls='firstlevel-menu'
    id='menu-button'
  >
    <ClosedMenuIcon />
    <OpenMenuIcon />
  </button>

  {/* First Level */}
  <ul
    class='absolute left-0 top-14 h-screen w-full border-t-2 border-t-fernaoGreen bg-fernaoBGWhite px-9 pt-8 hidden'
    id='firstlevel-menu'
  >
    <NavItemMobile
      ariaControls='secondlevel-solutions'
      id='firstlevel-button'
      title='Solutions'
    >
      {/* Second Level */}
      <SubmenuMobile id='secondlevel-solutions'>
        <NavItemBacklinkMobile
          ariaControls='secondlevel-solutions'
          title='Solutions'
        />
        <SubmenuWrapperMobile>
          <NavItemMobile
            ariaControls='thirdlevel-it-security'
            id='secondlevel-button'
            title='IT-Security'
            bold={false}
          >
            {/* Third Level */}
            <SubmenuMobile id='thirdlevel-it-security'>
              <BreadCrumbMobile title='Solutions >' />
              <NavItemBacklinkMobile
                ariaControls='thirdlevel-it-security'
                title='IT-Security'
              />
              <SubmenuWrapperMobile>
                <NavItemLinkMobile
                  href='/solutions/it-security/next-gen-security-platforms'
                  title='Next Gen Security Platforms'
                />
                <NavItemLinkMobile
                  href='/solutions/it-security/next-gen-endpoint-security'
                  title='Next Gen Endpoint Security'
                />
                <NavItemMobile
                  ariaControls='fourthlevel-configuration-audits'
                  id='thirdlevel-button'
                  title='Configuration Audits'
                  bold={false}
                >
                  {/* Fourth Level */}
                  <SubmenuMobile id='fourthlevel-configuration-audits'>
                    <BreadCrumbMobile title='Solutions > IT-Security >' />
                    <NavItemBacklinkMobile
                      ariaControls='fourthlevel-configuration-audits'
                      title='Configuration Audits'
                    />

                    <SubmenuWrapperMobile>
                      <NavItemLinkMobile
                        href='/solutions/it-security/next-gen-security-platforms'
                        title='Betriebssysteme'
                      />
                      <NavItemLinkMobile
                        href='/solutions/it-security/next-gen-security-platforms'
                        title='Webkomponenten'
                      />
                      {/* Nav Item mobile link */}
                      <li>
                        <a
                          href='/solutions/it-security/configuration-audtis'
                          class='flex w-full justify-center gap-2 rounded-[5px] border-[1px] border-fernaoGreen py-3 font-bold hover:bg-fernaoGreenA20 hover:shadow-secondaryBtn active:bg-fernaoGreenA20 active:shadow-secondaryBtn'
                        >
                          Configuration Audits Overview
                        </a>
                      </li>
                    </SubmenuWrapperMobile>
                  </SubmenuMobile>
                </NavItemMobile>
                <!-- Needs to be in own component -->
                <li>
                  <a
                    href='/it-security'
                    class='flex w-full justify-center gap-2 rounded-[5px] border-[1px] border-fernaoGreen py-3 font-bold hover:bg-fernaoGreenA20 hover:shadow-secondaryBtn active:bg-fernaoGreenA20 active:shadow-secondaryBtn'
                  >
                    IT-Security Overview
                  </a>
                </li>
              </SubmenuWrapperMobile>
            </SubmenuMobile>
            <NavItemMobile
              ariaControls='thirdlevel-data-analytics'
              id='secondlevel-button'
              title='Data Analytics'
              bold={false}
            />
          </NavItemMobile>
        </SubmenuWrapperMobile>
      </SubmenuMobile>

      <NavItemMobile
        title='Consulting'
        ariaControls='secondlevel-consulting'
        id='secondlevel-button'
      />
      <NavItemMobile
        title='Service'
        ariaControls='secondlevel-service'
        id='secondlevel-button'
      />
      <NavItemMobile
        title='Cloud'
        ariaControls='secondlevel-cloud'
        id='secondlevel-button'
      />
      <NavItemMobile
        ariaControls='secondlevel-branchen'
        id='secondlevel-button'
        title='Branchen'
      />
      <li class='mt-14'>
        <PrimaryButtonIcon>Termin buchen</PrimaryButtonIcon>
      </li>

      <li>
        <ul class='mt-4'>
          <li class='mb-4 px-4 py-2'>
            <button
              class='flex w-full justify-between gap-2'
              id='secondlevel-button'
              aria-controls='secondlevel-sprache'
            >
              <span
                class='text-underline text-underline-colored w-full text-start'
              >
                Sprache
              </span>
              <ArrowRightIcon />
            </button>
          </li>
          <li class='mb-4 px-4 py-2'>
            <button
              class='flex w-full justify-between gap-2'
              id='secondlevel-button'
              aria-controls='secondlevel-uber-uns'
            >
              <span
                class='text-underline text-underline-colored w-full text-start'
              >
                Über Uns
              </span>
              <ArrowRightIcon />
            </button>
          </li>
          <li class='mb-4 px-4 py-2'>
            <a
              class='text-underline text-underline-colored flex w-full justify-between'
              href='/jobs'
            >
              Jobs
            </a>
          </li>
          <li class='mb-4 px-4 py-2 text-black50'>
            <a
              class='text-underline text-underline-colored flex w-full justify-between'
              href='/datenschutz'
            >
              Datenschutz
            </a>
          </li>
          <li class='mb-4 px-4 py-2 text-black50'>
            <a
              class='text-underline text-underline-colored flex w-full justify-between'
              href='/impressum'
            >
              Impressum
            </a>
          </li>
          <li class='mb-4 px-4 py-2 text-black50'>
            <a
              class='text-underline text-underline-colored flex w-full justify-between'
              href='/cookie-policy'
            >
              Cookie Policy
            </a>
          </li>
        </ul>
      </li>
    </NavItemMobile>

    <script>
      const handleClick = (id) => {
        document.querySelector(id).classList.toggle('hidden')

        // if is main menu
        if (id === '#firstlevel-menu') {
          // toggle menun icon
          document.querySelector('#menu-open-icon').classList.toggle('hidden')
          document.querySelector('#menu-closed-icon').classList.toggle('hidden')

          const menus = document.querySelectorAll(
            'ul[id^="secondlevel-"], ul[id^="thirdlevel-"], ul[id^="fourthlevel-"]'
          )
          menus.forEach((menu) => {
            // if open, close all open submenus to reset menu
            if (!menu.classList.contains('hidden')) {
              menu.classList.add('hidden')
            }
          })
        }
      }

      const buttons = document.querySelectorAll(
        '#menu-button, #firstlevel-button, #secondlevel-button, #thirdlevel-button, #fourthlevel-button'
      )
      buttons.forEach((button) => {
        const id = button.getAttribute('aria-controls')
        button.addEventListener('click', () => {
          handleClick(`#${id}`)
        })
      })
    </script>
  </ul>
</nav>
