---
import ArrowRightIcon from './ArrowRightIcon.astro'
---

<section
  class='content-padding content-margin-top auto-cols-1fr grid gap-8 640:grid-cols-2 1024:grid-cols-3'
>
  <a href='/' class='border-none'>
    <div class='relative aspect-[4/3] w-full'>
      <img
        src='https://source.unsplash.com/random/1000x1800'
        class='absolute inset-0 h-full w-full rounded-[5px] object-cover'
        alt='Feature #1'
      />
    </div>

    <section
      class='relative flex flex-col rounded-[5px] bg-fernaoBGDarkGrey p-8 after:absolute after:bottom-0 after:left-0 after:h-[5px] after:w-full after:rounded-[5px] after:bg-coloredAccent after:content-[""]'
    >
      <h3>SAP on Azure</h3>
      <time class='mt-8'> 18.07.2023</time>
      <p>Max Mustermann</p>
      <p>SAP</p>
    </section>
  </a>
  <a href='/' class='border-none'>
    <div class='relative aspect-[4/3] w-full'>
      <img
        src='https://source.unsplash.com/random/1000x1800'
        class='absolute inset-0 h-full w-full rounded-[5px] object-cover'
        alt='Feature #1'
      />
    </div>
    <section
      class='relative flex flex-col rounded-[5px] bg-fernaoBGDarkGrey p-8 after:absolute after:bottom-0 after:left-0 after:h-[5px] after:w-full after:rounded-[5px] after:bg-coloredAccent after:content-[""]'
    >
      <h3>SAP on Azure</h3>
      <time class='mt-8'> 18.07.2023</time>
      <p>Max Mustermann</p>
      <p>SAP</p>
    </section>
  </a>
  <a href='/' class='border-none'>
    <div class='relative aspect-[4/3] w-full'>
      <img
        src='https://source.unsplash.com/random/1000x1800'
        class='absolute inset-0 h-full w-full rounded-[5px] object-cover'
        alt='Feature #1'
      />
    </div>
    <section
      class='relative flex flex-col rounded-[5px] bg-fernaoBGDarkGrey p-8 after:absolute after:bottom-0 after:left-0 after:h-[5px] after:w-full after:rounded-[5px] after:bg-coloredAccent after:content-[""]'
    >
      <h3>SAP on Azure</h3>
      <time class='mt-8'> 18.07.2023</time>
      <p>Max Mustermann</p>
      <p>SAP</p>
    </section>
  </a>
</section>
