---
import AppointmentIcon from './AppointmentIcon.html'
---

<button
  class='rounded-[5px] border-2 border-transparent bg-fernaoGreen p-3 hover:bg-fernaoGreen20 active:border-btnActiveBorder active:bg-btnActive'
>
  <AppointmentIcon />
</button>
