---
import AppointmentIcon from './AppointmentIcon.html'
---

<button
  class='flex w-full justify-center gap-2 rounded-[5px] border-2 border-transparent bg-fernaoGreen py-3 font-bold hover:bg-fernaoGreen20 active:border-btnActiveBorder active:bg-btnActive'
>
  <AppointmentIcon />
  <slot />
</button>
