<button
  class='flex w-full justify-center gap-2 rounded-[5px] border-[1px] border-fernaoGreen px-12 py-3 font-bold hover:bg-fernaoGreenA20 focus-visible:bg-fernaoGreenA20 focus-visible:shadow-secondaryBtn active:bg-fernaoGreenA20 active:shadow-secondaryBtn'
>
  <slot />
</button>
