---
import ArrowRightIcon from './ArrowRightIcon.astro'

interface Props {
  ariaControls: string
  id: string
  title: string
  bold?: boolean
}
const { ariaControls, id, title, bold = true } = Astro.props
---

<li
  class={`mb-4 last:mb-0 px-4 py-2 ${
    bold ? 'font-bold' : 'font-normal'
  } 1440:pt-0`}
>
  <button
    class='flex w-full justify-between gap-2 1440:justify-end'
    aria-controls={ariaControls}
    id={id}
  >
    <span
      class='text-underline text-underline-colored w-full text-start 1440:w-auto'
    >
      {title}
    </span>
    <ArrowRightIcon />
  </button>
  <slot />
</li>
