---
import AppointmentIcon from './AppointmentIcon.html'
---

<button
  class='flex w-full justify-center gap-2 rounded-[5px] border-[1px] border-fernaoGreen py-3 font-bold hover:bg-fernaoGreenA20 hover:shadow-secondaryBtn active:bg-fernaoGreenA20 active:shadow-secondaryBtn'
>
  <AppointmentIcon />
  <slot />
</button>
