---
import ArrowRightIcon from './ArrowRightIcon.astro'
const images = [
  {
    src: 'https://source.unsplash.com/random/1000x800',
    alt: 'A random image',
  },
  {
    src: 'https://source.unsplash.com/random/1600x800',
    alt: 'A random image',
  },
  {
    src: 'https://source.unsplash.com/random/100x800',
    alt: 'A random image',
  },
  {
    src: 'https://source.unsplash.com/random/1000x800',
    alt: 'A random image',
  },
  {
    src: 'https://source.unsplash.com/random/1900x800',
    alt: 'A random image',
  },
  {
    src: 'https://source.unsplash.com/random/1000x80',
    alt: 'A random image',
  },
  {
    src: 'https://source.unsplash.com/random/500x800',
    alt: 'A random image',
  },
  {
    src: 'https://source.unsplash.com/random/300x300',
    alt: 'A random image',
  },
  {
    src: 'https://source.unsplash.com/random/300x300',
    alt: 'A random image',
  },
  {
    src: 'https://source.unsplash.com/random/300x300',
    alt: 'A random image',
  },
  {
    src: 'https://source.unsplash.com/random/300x300',
    alt: 'A random image',
  },
  {
    src: 'https://source.unsplash.com/random/300x300',
    alt: 'A random image',
  },
]
---

<section
  class='content-margin-top w-full self-start 1024:px-14 1440:px-[140px]'
>
  <section id='main-carousel' class='splide' aria-label='My Awesome Gallery'>
    <div class='splide__arrows'>
      <button class='splide__arrow splide__arrow--prev'>
        <ArrowRightIcon /></button
      >
      <button class='splide__arrow splide__arrow--next'>
        <ArrowRightIcon />
      </button>
    </div>
    <div class='splide__track'>
      <ul class='splide__list'>
        {
          images.map((image) => {
            return (
              <li class='splide__slide'>
                <img src={image.src} alt={image.alt} />
              </li>
            )
          })
        }
      </ul>
    </div>
  </section>
  <ul
    id='thumbnails'
    class='mx-auto mb-0 flex flex-wrap justify-start gap-4 px-16 1024:gap-8'
  >
    {
      images.map((image) => {
        return (
          <li class='thumbnail h-[140px] w-[140px] cursor-pointer list-none overflow-hidden opacity-30 1024:h-[128px] 1024:w-[128px] 1920:h-[241px] 1920:w-[241px]'>
            <img
              src={image.src}
              alt={image.alt}
              class='h-full w-full rounded-[5px] object-cover'
            />
          </li>
        )
      })
    }
  </ul>
</section>

<script>
  import Splide from '@splidejs/splide'

  const splide = new Splide('#main-carousel', {
    pagination: false,
    rewind: true,
    heightRatio: 0.5,
    perPage: 1,
    focus: 'center',
    gap: '1rem',
    padding: {
      right: '1rem',
      left: '1rem',
    },
  })

  const thumbnails = document.getElementsByClassName('thumbnail')
  let current

  for (var i = 0; i < thumbnails.length; i++) {
    initThumbnail(thumbnails[i], i)
  }

  function initThumbnail(thumbnail, index) {
    thumbnail.addEventListener('click', function () {
      splide.go(index)
    })
  }

  splide.on('mounted move', function () {
    const thumbnail = thumbnails[splide.index]

    if (thumbnail) {
      if (current) {
        current.classList.remove('is-active')
      }

      thumbnail.classList.add('is-active')
      current = thumbnail
    }
  })

  splide.mount()
</script>
