<li class='1440:w-full'>
  <ul
    class='mt-6 rounded-md bg-fernaoGreenA20 py-4 1440:relative 1440:mt-0 1440:grid 1440:w-full 1440:grid-cols-3 1440:grid-rows-[auto_auto] 1440:gap-x-10 1440:gap-y-8 1440:bg-transparent 1440:py-0'
  >
    <slot />
  </ul>
</li>
