<aside
  class='content-padding content-margin-top sticky top-24 hidden self-start 1440:block'
  id='toc'
>
  <p class='font-bold'>Auf dieser Seite</p>
  <ul class='mt-6 flex flex-col gap-2'>
    <li>
      <a href='#headline-content-element' class='no-link-styling'
        >Headline Content Element</a
      >
    </li>
    <li>
      <a href='#text-content-element-linksb端ndig' class='no-link-styling'>
        Text Content Element linksb端ndig
      </a>
    </li>
    <li>
      <a href='#text-content-element-zentriert' class='no-link-styling'>
        Text Content Element zentriert
      </a>
    </li>
    <li>
      <a href='#text-content-element-zweispaltig' class='no-link-styling'>
        Text Content Element zweispaltig
      </a>
    </li>
    <li>
      <a href='#text-content-element-background-gray' class='no-link-styling'>
        Text Content Element mit grauem Hintergrund
      </a>
    </li>
    <li>
      <a href='#text-content-element-background-green' class='no-link-styling'>
        Text Content Element mit gr端nem Hintergrund
      </a>
    </li>
    <li>
      <a href='text-content-element-background-black' class='no-link-styling'>
        Text Content Element mit schwarzem Hintergrund
      </a>
    </li>
    <li>
      <a href='#text-media-content-element-image-right' class='no-link-styling'>
        Text Media Content Element mit Bild rechts
      </a>
    </li>
    <li>
      <a href='#text-media-content-element-image-left' class='no-link-styling'>
        Text Media Content Element mit Bild links
      </a>
    </li>
    <li>
      <a
        href='#text-media-content-element-image-left-green'
        class='no-link-styling'
      >
        Text Media Content Element mit Bild links und gr端nem Hintergrund
      </a>
    </li>
    <li>
      <a
        href='#text-media-content-element-image-right-gray'
        class='no-link-styling'
      >
        Text Media Content Element mit Bild rechts und grauem Hintergrund
      </a>
    </li>
    <li>
      <a
        href='#text-media-content-element-image-left-black'
        class='no-link-styling'
      >
        Text Media Content Element mit Bild links und schwarzem Hintergrund
      </a>
    </li>
  </ul>
</aside>

<script>
  const observerOptions = {
    threshold: 1,
    rootMargin: '0px 0px -80% 0px',
  }

  const setCurrentHeading: IntersectionObserverCallback = (entries) => {
    // loop to each entries (headings) in the page
    for (let entry of entries) {
      // equivalent to the slug returned from pageHeadings
      const { id } = entry.target
      // get the TOC link's element for the current entry
      const tocLinkEl = document.querySelector(`#toc a[href='#${id}']`)
      if (!tocLinkEl) return
      // check if the entry is intersecting
      if (entry.isIntersecting) {
        // remove active class from all links
        document
          .querySelectorAll('#toc a')
          .forEach((e) => e.classList.remove('active-toc'))
        // add active class to the currently active entry
        tocLinkEl.classList.add('active-toc')
      }
    }
  }

  const observer = new IntersectionObserver(setCurrentHeading, observerOptions)
  // select all headings to observe
  const elToObserve = document.querySelectorAll('section :is(h1,h2,h3)')
  // finally, observe the elements
  elToObserve.forEach((el) => observer.observe(el))
</script>
